* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.changelog-component {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: auto;
  padding: 2rem;

  border: 2px solid black;
  border-radius: 16px;
}

@media (max-width:768px) {
  .changelog-component {
    width: 80%;
  }
}

.changelog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.changelog-header>h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
}

.changelog-header>p {
  color: grey;
}

.changelog-items {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.item-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
}

.data {
  text-align: right;
  width: 30%;
  color: grey;
}

.text {
  width: 60%;
}

.bullet-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bullet {
  align-self: center;

  width: 18px;
  height: 18px;

  background-color: black;
  border-radius: 100%;
  position: absolute;
}

.line {
  height: 96px;
  width: 3px;
  background-color: black;
}

.button {
  align-self: center;

  width: 50%;
  height: 48px;

  background-color: #1e1f1e;
  color: white;
  border-radius: 12px;
  border-color: #1e1f1e;
}